<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam facilis repellat maxime cupiditate quisquam, numquam ea aliquam asperiores excepturi est.</p>
    </div>
</section>