<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis rem, minima reiciendis aut minus eveniet itaque voluptas eligendi neque? Mollitia!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet facilis quas et beatae quia, laboriosam aut earum voluptatum maiores ab sint ex iste ipsa eligendi obcaecati. Provident commodi adipisci temporibus.</p>
    <a href="https://google.es" class="btn btn-primary">Google</a>
</div>